* {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

#photo {
    float: right; 
    margin-right: 30px; 
    margin-top: 50px;
}
h1 {
    margin-top: 60px;
}
h1,h2 {
    color: blue;
    margin-left: 20px;
    margin-top: 20px;
}

#first,#workEXP {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: 20px;
}
ul,ol {
    margin-left: 28px;
}

table {
    border-collapse: collapse;
    margin-left: 20px;  
    margin-right: 5px;
}

th,td {
    border: solid black ;
    padding: 15px;
}
th{
    background-color: aqua;
}

.pics {
    margin-left: 20px;
}

.nav {
    margin-left: 20px;
    padding: 15px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    * {
      background-color: lightblue;
    }
  }